Col {
    display: flex;
}

.col-1{
    flex-grow: 1;
    max-width: 40%;
    
    font-size: larger;
    text-align: center;
}

.col-2{
    flex-grow: 1;
    max-width: 60%;
}

.nameCountry {
    padding: 3px 0px 3px 0px;
    background-color: seashell;
    border: 1px solid Teal;  
}
